@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    font-family: 'Nunito', sans-serif;;
    
}


#tabla, td{
    border: 1px solid;

}

#tabla{
    table-layout: initial;
}

#container{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}
