@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


#configuracion{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #000044;
    height: 5vh;
    border-width: 5px;
}

body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #000044;
}

.confi{
    width: auto;
    margin-bottom: 10px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: center;
    height: 15vh;
    text-align: center;
}

hr{
    border-color: rgb(255, 255, 255);
}

#banner{
    width: auto;

}

#categorias{    
    display: flex;
    flex-flow: row wrap;
    width: 70%;
}

.categoria{
    width: 30%;
    height: 42%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(230, 230, 230, 0.418);
    margin: 5px;
    border-radius: 5px;
}

#notificaciones{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    background-color: rgba(230, 230, 230, 0.418);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

#principal{
    display: flex;
    flex-direction: row;
    height: 65vh;
}

.icono{
    height: 100%;
}
footer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 5vh;
    color: rgb(255, 255, 255);
    
}

.noti{
    height: 40px;
}

#notificacion{
    display: flex;
    flex-direction: row;
}

#titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

